/* #illustration {
    display: flex;
    align-items: center;
    height: 100%;
}

img{
    height: 700px;
    width: 900px;
    margin: 0 auto;
    display: block;    
}

.display-1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 5rem;
    font-weight: 350;
    line-height: 0.5;
    color: #212529;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    overflow-wrap: normal !important;
    white-space: nowrap;
    text-align: center;
} */

body {
  /* overflow-x: hidden; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.justify-content-center {
  justify-content: center !important;
}

/* .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;  
} */

.display-1 {
  /* font-size: 3rem;
    font-weight: 300;
    line-height: 0.2; */
  font-size: 3rem;
  font-weight: 350;
  line-height: 0.2;
  color: #212529;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  overflow-wrap: normal !important;
  white-space: nowrap;
  text-align: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.text-center {
  text-align: center !important;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
